* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background image created */
html {
    background-image: url("https://images.unsplash.com/photo-1516053256215-94022213b13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}

/* header content */
.header {
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    width: 100%;
    gap: 25px;
    font-family: "Great Vibes", cursive;
}

.name {
    color: white;
    background-color: #8c91ab;
}

 .links div {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    gap: 60px;
}

a {
    
    text-decoration: none;
}

/* End of header content */

/* main container content */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.button-container div {
    display: flex;
    align-items: center;
}

.grid {
    height: 500px;
    width: 500px;
    display: grid;
    border: 5px solid black;
}
/* End of main container content */


