* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background image created */
html {

    background-image: url("https://images.unsplash.com/photo-1516053256215-94022213b13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
}


body {
    display: flex;
    flex-direction: column;
}

/* header content */
.header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    font-family: Brush Script MT, cursive;
}

.name {
    justify-content: center;
    color: black;
    font-size: 2rem;

}

.links div {
    font-weight: bold;
    font-size: 2rem;
    padding: 0.5em;
    display: flex;
    gap: 2em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgba(255, 255, 255, 90%);
}

/* End of header content */

/* main container content */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.grid {
    touch-action: none;
    height: 500px;
    width: 500px;
    display: grid;
    border: 5px solid black;
}

.button-container {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.button-container div {
    display: flex;
    align-items: center;
}

.slidecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider:hover {
    cursor: pointer;
}

/* End of main container content */

/* Footer Content */
.footer {
    height: 75px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.footer-info {
    color: black;
}

/* End of footer content */

/* Buttons */

button {
    font-size: 1rem;
    width: 115px;
    background-color: lightgray;
    border-radius: 6px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 80%);
}

/* End of button styling */

 @media only screen and (max-width:600px){
    .grid {
        max-width: 350px;
    }

    button {
        min-width: 75px;
        margin: 1em;
    }
} 